@page
@model LoginModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["LogIn"];
}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-4">
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="@Localizer["EmailPlaceholder"]" />
                <label asp-for="Input.Email">@Localizer["Email"]</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="@Localizer["Password"]" />
                <label asp-for="Input.Password">@Localizer["Password"]</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Localizer["RememberMe"]
                </label>
            </div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-3">@Localizer["LogIn"]</button>
            <div class="text-center">
                <a asp-page="./ForgotPassword">@Localizer["ForgotPassword"]</a> &middot;
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Register"]</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}